/* CSS declarations go here*/
@import "{}/imports/ui/stylesheets/normalize.scss";
@import "{}/imports/ui/stylesheets/sticky.scss";
h1 {
  text-align: center;
}
.column, .columns {
  padding: 3px;
  border-radius: 3px;
  margin: 3px;
}

a, input, button {
  margin: 2px;
}
