$body-color: #f2f2f2;
$header-color: #1c1d1f;
$pitch-black: #000;
$white: #fff;

@mixin padding($s) {
  -moz-transition: padding-top $s ease;
  -o-transition: padding-top $s ease;
  -webkit-transition: padding-top $s ease;
  transition: padding-top $s ease;
}

@mixin all($s) {
  -moz-transition: all $s ease;
  -o-transition: all $s ease;
  -webkit-transition: all $s ease;
  transition: all $s ease;
}

@mixin border-radius($s) {
  -moz-border-radius: $s;
  -webkit-border-radius: $s;
  border-radius: $s;
}

@mixin box-shadow($s, $c) {
  -moz-box-shadow: 0 0 0 $s $c;
  -webkit-box-shadow: 0 0 0 $s $c;
  box-shadow: 0 0 0 $s $c;
}

@mixin transform($s, $c) {
  -moz-transform: scale($s, $c);
  -ms-transform: scale($s, $c);
  -webkit-transform: scale($s, $c);
  transform: scale($s, $c);
}

body {
  background-color: $body-color;
  min-height: 900px;
  font-family: helvetica, arial, sans-serif;
  padding-top: 600px;
  @include padding(0.5s);
}

header {
  width: 100%;
  height: 600px;
  background-color: $header-color;
  text-align: center;
  position: relative;
  position: fixed;
  top: 0;
  overflow: hidden;
  @include all(0.8s);
  img {
    width: 30%;
    margin: 10px;
    @include all(1s);
  }

  h1 {
    font-size: 42px;
    color: #ffffff;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 100;
    @include all(0.8s);
  }

  nav {
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background-color: $pitch-black;

    a {
      color: $white;
      display: inline-block;
      padding: 10px 15px;
      line-height: 1;
      text-decoration: none;
      @include border-radius(2px);

      &:hover {
        @include box-shadow(1px, $pitch-black);
        color: $white;
      }
    }
  }
}

/* Sticky Header Style */
/* ---------------------------------------- */
body.sticky-header {
  padding-top: 100px;
  header {
    height: 60px;
    background-color: $header-color;
    h1 {
      @include transform(0, 0);
    }
    img {
      @include transform(0, 0);
    }
  }
}
